.button-bar {
  display: grid;
  grid-template-columns: repeat(5, 2.125em) 1fr 10em;
  grid-template-rows: 2.125em;

  padding: 0.125em;

  align-items: center;
  text-align: center;

  background-color: lightpink;
}

.button-bar-button,
.button-bar-text {
  height: 1.5em;
}

.button-bar-button {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;

  background-color: #bbbbbb;
  border: #333333;

  border-radius: 1em;
  width: 1.5em;
}

.button-bar-button:hover {
  opacity: 0.7;
}

.button-bar-button:disabled {
  opacity: 0.5;
}

.button-bar-text {
  font-size: 0.875em;

  padding-right: 0.25em;

  align-self: center;
  text-align: right;

  pointer-events: none;
}



